<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
        <exchangeName>my-exchange</exchangeName>
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>
        <exchangeType>queue</exchangeType>
        <applicationId>AmqpAppenderTest</applicationId>
        <routingKeyPattern>logs-test</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>false</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
    </appender>
    <root level="info">
        <appender-ref ref="AMQP" />
    </root>
</configuration>